.header{

 display: flex;
 align-items: center;
 border-bottom:solid;


}

.space{
    flex-grow: 1;
}

.about-btn{
    margin-right: 10px;

}
.login-btn{
 margin-right: 10px;
}
.imgSpace{
    margin-left: 10px;
}


.body{
 margin: 0;
}

.cardNode{
    border-style: solid;
    border-color: grey;
    padding: 10px;
    max-width: 300px;
}

.breedNode{
    margin-right: 10px;
    margin-left: 5px;

}

.ageNode{
    color: hotpink;
}

